* {
  box-sizing: border-box;
  font-family: "baloo_paaji_2regular";
}

ul, ol {
  list-style: none;
}

button, input {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	cursor: pointer;
	outline: inherit;
}

@font-face {
  font-family: "baloo_paaji_2regular";
  src: url("./assets/fonts/baloopaaji2-regular-webfont.woff2")
          format("woff2"),
      url("./assets/fonts/baloopaaji2-regular-webfont.woff")
          format("woff");
  font-weight: normal;
  font-style: normal;
}
